@import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');



.start h1 {
    font-size: 3.5em;
    font-family: "Asset", serif;
    font-style: normal;
}

.start p {
    margin-bottom: 2em;
    color: #ecfa00;
}

.start img {
    margin-top: 12px;
    margin-bottom: 16px;
}